.table {
  align-content: center;
  background-color: chartreuse;
  color: brown;
  font-size: x-large;
}

.about_dream {
  padding: 50px 30px 20px 30px;
  margin: 50px 70px;
  height: 40px;
  background-color: coral;
  color: rgb(56, 94, 94);
  font-style: oblique;
  font-size: larger;
}
