.table {
  align-self: center;
  background-color: chartreuse;
  height: 15px;
}
.tr {
  padding: 5px;
  text-align: 20px;
}
.td {
  padding: 5px;
  text-align: 20px;
}
.about_dream {
  padding: 50px;
  height: 20px;
  background-color: coral;
}
